@use "../_mixins.scss" as m;
header {
  padding-top: 1rem;
  gap: 1rem;
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.firstName {
  white-space: nowrap;
}
.containerLeft {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.containerRight {
  position: relative;
}

.firstName {
  @include m.font2(5rem);
}
.resumeP {
  margin-left: 1rem;
}
.containerRight > p::before {
  content: "/";
  font-size: 2rem;
}
.containerRight > p {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}
.firstName {
  width: fit-content;
  position: relative;
  animation: moveToCenter 1s forwards 4s;
  opacity: 0;
  line-height: 0.75;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
}
.fn1 {
  animation: yellowUp 0.25s forwards 5.5s;
}
.fn2 {
  animation: yellowUp 0.25s forwards 5.6s;
}
.fn3 {
  animation: yellowUp 0.25s forwards 5.7s;
}
.fn4 {
  animation: yellowUp 0.25s forwards 5.8s;
}
.fn5 {
  animation: yellowUp 0.25s forwards 5.9s;
}
.fn6 {
  animation: yellowUp 0.25s forwards 6s;
}
.fn7 {
  animation: yellowUp 0.25s forwards 6.1s;
}
.fn8 {
  animation: yellowUp 0.25s forwards 6.2s;
}
.fn9 {
  animation: yellowUp 0.25s forwards 6.3s;
}
.fn10 {
  animation: yellowUp 0.25s forwards 6.4s;
}
.fn11 {
  animation: yellowUp 0.25s forwards 6.5s;
}
.fn12 {
  animation: yellowUp 0.25s forwards 6.6s;
}
.containerRight > p {
  width: 10rem;
  cursor: pointer;
  display: flex;
  line-height: 1;
}

.containerRight > p:hover::before {
  content: "///";
}
// .containerRight > p > span:hover {
//   transition: 0.3s;
//   opacity: 0.4;
// }
.firstName > span:hover {
  transition: 0.3s;
  filter: brightness(1.5);
}
@keyframes moveToCenter {
  0% {
    right: 300px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@keyframes yellowUp {
  0% {
    color: var(--c-lGrey);
  }
  100% {
    color: var(--c-lYellow);
  }
}
