/************************ MAIN ************************************/

#main {
  background-color: var(--cp-dGreen);
  color: var(--cp-Black);
  padding-bottom: 2vh;
}

#projectLogo {
  margin-left: 2vh;
  user-select: none;
  font-size: 7vh;
  line-height: 4vh;
  font-weight: 1000;
}
.project,
.projectU {
  position: relative;
  background: var(--cp-Black);
  border-radius: 0.35rem;
  height: 37vh;
  min-height: 17rem;
  min-width: 25rem;
  color: var(--cp-Black);
  font-size: 2vh;
  border: 0.1rem solid var(--cp-dGreen);
  border-top: 2rem solid var(--cp-dGreen);
  display: flex;
  flex-direction: column;
}
.project:hover,
.projectU:hover {
  outline: 0.2rem solid var(--cp-dGreen);
}
.project:hover > .prImg,
.projectU:hover > .prImg {
  outline: 0.2rem solid var(--cp-lGrey);
}
.projectsContainer {
  display: grid;
  gap: 4vh;
  margin: 1%;
  margin-top: 5vh;
  width: 98%;
  /*
    grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background: var(--cp-Black);
  padding: 1rem;
  border-radius: 0.5rem;
}
