@use "../_mixins.scss" as m;
.overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  // border: 0.5rem solid black;
}
.info {
  height: 100%;
  position: relative;

  min-width: 20rem;
  max-width: 45rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.538);
  padding: 1rem;
}
.description {
  margin-bottom: 5rem;
  font-size: 2rem;
  text-justify: inter-word;
  min-height: 20rem;
  margin: 2rem;
}
.description > span > b {
  @include m.font1(2rem);
}
.gitbtn {
  @include m.button();
  @include m.font1(2rem);
  color: var(--c-lYellow);
  padding: 1rem;
  position: relative;
  font-size: 2rem;
  width: 50%;
  left: 25%;
  pointer-events: auto;
  margin-bottom: 1rem;
}
.gitbtn:hover {
  box-shadow: 0px 0px 3px 0px var(--c-lGrey);
}
.ylw {
  color: var(--c-lYellow);
}
.btnFrwrd,
.btnBack {
  color: var(--c-lGrey);
  font-size: 8rem;
  @include m.button();
  border: none;
  transform: scaleY(3);
  position: absolute;
  opacity: 0.25;
  pointer-events: auto;
}
.btnFrwrd {
  right: 1rem;
}
.btnBack {
  left: 1rem;
}
@media screen and (min-width: 320px) {
  .info {
    //background-color: burlywood;
    margin: 0 auto;
  }
  .btnFrwrd,
  .btnBack {
    top: -10%;
    transform: scaleY(1);
  }
  .btnFrwrd:active,
  .btnBack:active {
    transform: scale(0.95) scaleY(1);
  }
}
@media screen and (min-width: 481px) {
  .info {
    //background-color: rgb(112, 92, 65);
    margin: 0 auto;
  }
  .btnFrwrd,
  .btnBack {
    top: 50%;
    transform: scaleY(3);
  }
  .btnFrwrd:active,
  .btnBack:active {
    transform: scale(0.95) scaleY(3);
  }
}
@media screen and (min-width: 769px) {
  .info {
    //background-color: rgb(83, 73, 58);
    margin: 20rem 10vw;
  }
}
@media screen and (min-width: 1025px) {
  .info {
    //background-color: rgb(44, 41, 36);
    margin: 20rem 15vw;
  }
}

// 320px — 480px for mobile devices, 481px — 768px for iPads & tablets, 769px — 1024px for small screens like laptop, 1025px — 1200px for large screens like Desktops,
