//THE MAIN CONTAINER LOGIC IS IN THE APP SCSS, THESE ARE JUST SUPLIMENTS
.tech {
  font-weight: bold;
}
.li1,
#toolsList {
  margin-left: 1.5rem;
}
.content {
  margin: 1rem 0;
  min-width: 35rem;
  width: 40rem;
  max-width: 30vw;
}
