.closer {
  position: absolute;
  content: "X";
  cursor: pointer;
  font-weight: 1000;
  font-size: 2rem;
  top: -3rem;
  right: 0.5rem;
  color: var(--cp-lYellow);
}
#resume > p {
  margin: 1rem;
}
.tools {
  color: var(--cp-lGreen);
}
#toolsList {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#toolsList > li:before {
  content: "O ";
}
