:root {
  --cp-Black: rgb(18, 18, 18);
  --cp-dGrey: rgb(38, 35, 38);
  --cp-lGrey: rgb(185, 185, 185);
  --cp-dYellow: rgb(188, 154, 23);
  --cp-lYellow: rgb(207, 172, 51);
  --cp-lGreen: rgb(85, 109, 48);
  --cp-dGreen: rgb(26, 76, 61);
  --cp-White20: rgb(255, 255, 255, 0.2);
  --cp-White50: rgb(255, 255, 255, 0.5);
  --cp-White70: rgb(255, 255, 255, 0.7);
}
* {
  margin: 0rem;
  padding: 0rem;
  font-family: arial;
}
body {
  background: var(--cp-Black);
  color: var(--cp-lGrey);
}

header {
  display: flex;
  gap: 1vh;
  justify-content: center;
  /*flex-wrap: wrap;*/
  margin-top: 15vh;
  margin-bottom: 53vh;
}
.headContainer1,
.headContainer2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.headContainer1 {
  align-items: end;
}
h1 {
  color: var(--cp-lYellow);
  font-size: 10vh;
  line-height: 8vh;
  flex: 1;
}

.iconsContainer {
  display: flex;
  justify-content: end;
}
.icon {
  height: 6vh;
}
.icon:hover {
  filter: invert(39%) sepia(8%) saturate(2524%) hue-rotate(42deg)
    brightness(94%) contrast(88%);
  transition: 0.5s;
}
.divider {
  border-left: 0.3rem solid var(--cp-lGrey);
}
.topic {
  font-size: 5vh;
  line-height: 4vh;
}
.topic:before {
  content: "/";
  display: relative;
  top: -5vh;
  color: var(--cp-lGreen);
}
.topic:hover::before {
  content: "//";
  color: var(--cp-lYellow);
}
.topic:hover {
  cursor: pointer;
}
.addressContainer {
  position: absolute;
  top: 15vh;
  right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.adress {
  position: relative;
  color: var(--cp-lYellow);
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  cursor: pointer;
}
.adress:hover {
  top: -1rem;
}
.verticalLine {
  width: 0.1rem;
  height: 50vh;
  margin-top: 1rem;
  background: var(--cp-lYellow);
}
#resume {
  position: absolute;
  top: 30vh;
  width: 90%;
  margin: 5%;
  border-radius: 0.5rem;

  font-size: 3vh;
  background: var(--cp-Black);
  border: 0.1rem solid var(--cp-lYellow);
}
.closer {
  position: absolute;
  content: "X";
  cursor: pointer;
  top: -2rem;
  right: 0.5rem;
  color: var(--cp-lYellow);
}
#resume > p {
  margin: 1rem;
}
.tech {
  color: var(--cp-lYellow);
}
ul {
  margin: 1rem;
  list-style-type: none;
}
li:before {
  content: "// ";
  color: var(--cp-lGreen);
}
.tools {
  color: var(--cp-lGreen);
}
#toolsList {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#toolsList > li:before {
  content: "O ";
}
.arrow {
  position: relative;
  height: 2vh;
  width: 2vh;
  border-right: 0.3rem solid var(--cp-lGrey);
  border-bottom: 0.3rem solid var(--cp-lGrey);
  transform: rotate(45deg);
  margin-left: 50%;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
#main {
  background-color: var(--cp-dGreen);
  color: var(--cp-Black);
  padding-bottom: 2vh;
}
#projectLogo {
  margin-left: 2vh;
  user-select: none;
  font-size: 5vh;
  line-height: 3vh;
  font-weight: 1000;
}
br {
  user-select: none;
}
.projectsContainer {
  display: grid;
  gap: 4vh;
  margin: 1%;
  margin-top: 2%;
  width: 98%;
  grid-template-columns: repeat(3, 1fr);
}
.project,
.projectU {
  position: relative;
  background: var(--cp-dGrey);
  border-radius: 1rem;
  height: 35vh;
  color: var(--cp-Black);
  font-size: 2vh;
  overflow: hidden;
}
.project:hover,
.projectU:hover {
  outline: 0.2rem solid var(--cp-lGrey);
}
.projectU:before {
  content: "unfinished";
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: white;
  background-color: var(--cp-lYellow);
  border-radius: 1rem;
  padding: 0.2rem;
}
img {
  width: 98%;
  height: 70%;
  margin: 1%;
  border-radius: 1rem;
}

.projectTitle {
  text-align: center;
  z-index: 2;
  color: white;
}
.buttons {
  position: relative;
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 1rem;
  padding: 1vh;
  background: var(--cp-dYellow);
  margin: 1%;
  flex: 1;
  font-weight: 1000;
  color: var(--cp-Black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button:hover {
  opacity: 0.75;
}
@keyframes arrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0rem;
  }
}
